GOOGLE_MAPS_API_KEY=your_google_maps_api_key
EXPO_PUBLIC_API_BASE_URL=https://trackingbackend-production-8b2e.up.railway.app
EXPO_PUBLIC_API_VEHICLES_PATH=/api/vehicles
EXPO_PUBLIC_API_VEHICLES_METHOD=POST
